<h2>If Else Control Flow</h2>
<button (click)="hideButton()">hide</button>
<button (click)="showButton()">show</button>
<button (click)="toggle()">toggle</button>
<button (click)="toggle()">{{ display ? "hide" : "show" }}</button>
@if(display) {
<div style="background-color: green; height: 100px; width: 100px"></div>
}

<hr />

<button (click)="toggleOneDiv()">display one div</button>
@if(displayOneDiv) {
<div style="background-color: red; height: 100px; width: 100px"></div>
} @else {
<div
  style="background-color: rgb(255, 200, 0); height: 100px; width: 100px"
></div>
}
