<h2>Counter App</h2>
<div style="text-align: center">
  <h3 class="counter">{{ count }}</h3>
  <div>
    <button class="btn bg-red" (click)="handleClickbutton('minus')">
      Decrement
    </button>
    <button class="btn bg-black" (click)="handleClickbutton('reset')">
      Reset
    </button>
    <button class="btn bg-green" (click)="handleClickbutton('plus')">
      Increment
    </button>
  </div>
  <br />
  <button
    name="button"
    (focus)="handleEvent($event)"
    (click)="handleEvent($event)"
  >
    click Event
  </button>
  <br /><br />
  <input
    type="text"
    name="user"
    (input)="handleEvent($event)"
    (focus)="handleEvent($event)"
  />
  <br /><br />
  <div
    (mouseenter)="handleEvent($event)"
    style="background-color: green; height: 100px; width: 100px"
  ></div>
  <br /><br />
  <div
    (mouseleave)="handleEvent($event)"
    style="background-color: black; height: 100px; width: 100px"
  ></div>
</div>
